{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}


<div class="container-fluid vh-100 d-flex flex-column align-items-center justify-content-start mt-5">
    <h2 class="text-center mb-4">Change Password</h2>
    <form action="/edit_password" method="post" class="col-md-6 col-lg-5 col-xl-4 form-frame">
        <div class="mb-3 form-group">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3 form-group">
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <div class="text-center">
            <button class="btn btn-form btn-submit" type="submit">Submit →</button>
        </div>
    </form>
</div>

{% endblock %}
