{% extends "layout.html" %}

{% block title %}
Stats
{% endblock %}

{% block main %}


<style>

    body {
        font-family: 'Poppins', sans-serif;
    }

    /* Ensure the cards and columns stretch to full height */
    .d-flex.align-items-stretch {
        display: flex;
        align-items: stretch;
    }

    .h-100 {
        height: 100%;
    }

    .flex-fill {
        flex: 1 1 auto;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    .stat-title-avg {
        margin-bottom: 0px;
    }

    .card-avg {
        padding: 15px;
    }

    .card {
        background-color: #ffffff;
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        border-radius: 8px;
        padding: 0; 
        text-align: center;
        flex: 1;
    }



</style>
<div class="container">
    <h1 class="mt-4 text-center">Executive Summary</h1>
    <hr>
    <div class="row mt-4">
        <div class="col-md-3 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="circle bg-premium">
                        ${{ "{:,}".format(stats.total_premium) }}
                    </h3>
                    <div class="card-title">Total Premium</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="circle bg-claim-amount">
                        ${{ "{:,}".format(stats.total_claim_amount) }}
                    </h3>
                    <div class="card-title">Total Claim Amount</div>
                </div>
            </div>
        </div>
        <div class="col-md-2 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="circle bg-claim">
                        {{ stats.claim_count }}
                    </h3>
                    <div class="card-title">Total Claims</div>
                </div>
            </div>
        </div>
        <div class="col-md-2 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="circle bg-client">
                        {{ stats.client_count }}
                    </h3>
                    <div class="card-title custom-size">Total Clients</div>
                </div>
            </div>
        </div>
        <div class="col-md-2 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="circle bg-policy">
                        {{ stats.policy_count }}
                    </h3>
                    <div class="card-title">Total Policies</div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4 d-flex align-items-stretch">
        <div class="col-md-3 stat-card">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Total Loss Ratio</h5>
                    <hr>
                    <canvas id="premiumVsClaimsChart" 
                    data-total-premium="{{ stats.total_premium }}" 
                    data-total-claim-amount="{{ stats.total_claim_amount }}">
                    </canvas>
                </div>
            </div>
        </div>  
        <div class="col-md-3 stat-card">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Claim Status Count</h5>
                    <hr>
                    <canvas id="claimsCountChart" 
                        data-new-claim-count="{{ stats.new_claim_count }}" 
                        data-pending-claim-count="{{ stats.pending_claim_count }}" 
                        data-paid-claim-count="{{ stats.paid_claim_count }}" 
                        data-denied-claim-count="{{ stats.denied_claim_count }}">
                    </canvas>
                </div>
            </div>
        </div>  
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Claims by Month</h5>
                    <!-- <canvas id="combinedChart"
                        data-claim-count-by-month="{% for month, count in stats.claim_count_by_month %}{{ month }},{{ count }}{% if not loop.last %};{% endif %}{% endfor %}"
                        data-new-policies-count-by-month="{% for month, count in stats.new_policies_count_by_month %}{{ month }},{{ count }}{% if not loop.last %};{% endif %}{% endfor %}">
                    </canvas> -->
                    <canvas id="combinedChart"
                        data-new-claim-count-by-month="{{stats.claim_count_by_month|tojson}}"
                        data-new-policies-count-by-month="{{stats.new_policies_count_by_month|tojson}}">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 d-flex align-items-stretch">
        
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Policy by Status</h5>
                    <canvas id="lossRatioChart" 
                    data-house-active-premiums="{{ stats.house_active_premiums }}" 
                    data-auto-active-premiums="{{ stats.auto_active_premiums }}" 
                    data-life-active-premiums="{{ stats.life_active_premiums }}" 
                    data-health-active-premiums="{{ stats.health_active_premiums }}" 
                    data-house-expired-premiums="{{ stats.house_expired_premiums }}" 
                    data-auto-expired-premiums="{{ stats.auto_expired_premiums }}" 
                    data-life-expired-premiums="{{ stats.life_expired_premiums }}" 
                    data-health-expired-premiums="{{ stats.health_expired_premiums }}">
                </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Loss Ratio by Policy Type</h5>
                    <canvas id="claimsVsPremiumsCount"
                        data_paid_house_claim_by_type="{{ stats.paid_house_claim_by_type }}",
                        data_paid_auto_claim_by_type="{{ stats.paid_auto_claim_by_type }}",
                        data_paid_life_claim_by_type="{{ stats.paid_life_claim_by_type }}",
                        data_paid_health_claim_by_type="{{ stats.paid_health_claim_by_type }}",
                        data_sum_of_house_by_type="{{ stats.sum_of_house_by_type }}",
                        data_sum_of_auto_by_type="{{ stats.sum_of_auto_by_type }}",
                        data_sum_of_life_by_type="{{ stats.sum_of_life_by_type }}",
                        data_sum_of_health_by_type="{{ stats.sum_of_health_by_type }}">
                    </canvas>
                </div>
            </div>
        </div>          
    </div>
    
    
    <div class="row mt-4">
        
        
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Policy Counts by Type</h5>
                    <hr>
                    <canvas id="policyCountsByType" 
                        data_house_policy_count="{{ stats.house_policy_count }}",
                        data_auto_policy_count="{{ stats.auto_policy_count }}",
                        data_life_policy_count="{{ stats.life_policy_count }}", 
                        data_health_policy_count="{{ stats.health_policy_count }}",>
                    </canvas>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Claims Count by Policy Type</h5>
                    <hr>
                    <canvas id="claimsByPolicyTypeChart" 
                        data_house_claim_count="{{ stats.house_claim_count_by_policy_type }}",
                        data_auto_claim_count="{{ stats.auto_claim_count_by_policy_type }}",
                        data_life_claim_count="{{ stats.life_claim_count_by_policy_type }}", 
                        data_health_claim_count="{{ stats.health_claim_count_by_policy_type }}">

                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Paid vs Denied Claims</h5>
                    <hr>
                    <canvas id="clientsPoliciesChart"
                        data_paid_claim_count="{{ stats.paid_claim_count }}",
                        data_denied_claim_count="{{ stats.denied_claim_count }}",>
                    </canvas>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column h-100">
                <div class="col-md-12 stat-card flex-fill mb-1">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="circle bg-average-premium">
                                ${{ stats.average_premium_per_client | round(2) }}
                            </h5>
                            <div class="card-title-avg">Average Premium per Client</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stat-card flex-fill mb-1">
                    <div class="card h-100">
                        <div class="card-body card-avg text-center">
                            <h5 class="circle bg-average-claims">
                                {{ stats.average_policies_per_client | round(2) }}
                            </h5>
                            <div class="card-title-avg">Average Policies per Client</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stat-card flex-fill mb-1">
                    <div class="card h-100">
                        <div class="card-body card-avg text-center">
                            <h5 class="circle bg-average-claims">
                                {{ stats.average_claims_per_client | round(2) }}
                            </h5>
                            <div class="card-title-avg">Average Claims per Client</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stat-card flex-fill">
                    <div class="card h-100">
                        <div class="card-body card-avg text-center">
                            <h5 class="circle bg-average-claims">
                                ${{ stats.average_claim_amount_per_client | round(2) }}
                            </h5>
                            <div class="card-title-avg">Average Claim Amount per Client</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">Loss Ratio by Status</h5>
                    <canvas id="lossRatioChartos"
                        data_house_claims_to_premiums_ratio="{{ stats.house_claims_to_premiums_ratio }}",
                        data_auto_claims_to_premiums_ratio="{{ stats.auto_claims_to_premiums_ratio }}",
                        data_life_claims_to_premiums_ratio="{{ stats.life_claims_to_premiums_ratio }}", 
                        data_health_claims_to_premiums_ratio="{{ stats.health_claims_to_premiums_ratio }}",>
                    </canvas>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">some Graph</h5>
                    <hr>
                    <canvas id="XpoliciesClaimsChart"></canvas>
                </div>
            </div>
        </div>
        <!-- this columns below -->
        <div class="col-md-3">
            <div class="d-flex flex-column h-100">
                <div class="col-md-6 stat-card flex-fill mb-1">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="circle bg-average-premium">
                                {{ stats.new_claim_count }}
                            </h5>
                            <div class="card-title-avg">New Claims</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stat-card flex-fill mb-1">
                    <div class="card h-100">
                        <div class="card-body card-avg text-center">
                            <h5 class="circle bg-average-claims">
                                {{ stats.pending_claim_count }}
                            </h5>
                            <div class="card-title-avg">New Claims</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stat-card flex-fill mb-1">
                    <div class="card h-100">
                        <div class="card-body card-avg text-center">
                            <h5 class="circle bg-average-claims">
                                {{ stats.paid_claim_count }}
                            </h5>
                            <div class="card-title-avg">Paid Claims</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stat-card flex-fill">
                    <div class="card h-100">
                        <div class="card-body card-avg text-center">
                            <h5 class="circle bg-average-claims">
                                {{ stats.denied_claim_count }}
                            </h5>
                            <div class="card-title-avg">Denied Claims</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="row mt-4">
        <div class="col-md-4 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <div class="circle bg-highest-claim">
                        Client ID: {{ stats.client_with_highest_claim[0] }}<br>
                        ${{ stats.client_with_highest_claim[1] }}
                    </div>
                    <h5 class="card-title">Client with Highest Claim</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <div class="circle bg-most-policies">
                        Client ID: {{ stats.client_with_most_policies[0] }}<br>
                        Policies: {{ stats.client_with_most_policies[1] }}
                    </div>
                    <h5 class="card-title">Client with Most Policies</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 stat-card">
            <div class="card">
                <div class="card-body text-center">
                    <div class="circle bg-most-claims">
                        Client ID: {{ stats.client_with_most_claims[0] }}<br>
                        Claims: {{ stats.client_with_most_claims[1] }}
                    </div>
                    <h5 class="card-title">Client with Most Claims</h5>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
</script>

{% endblock %}

